// 鸿蒙字体
@font-face {
  font-display: swap;
  font-family: 'HarmonyOS Medium';
  src: url('https://efadmin.netlify.app/font/HarmonyOS_Sans_SC_Medium.woff2')
    format('woff2');
}

// 英文字体
@font-face {
  font-display: swap;
  font-family: 'Inter';
  src: url('https://efadmin.netlify.app/font/Inter-Medium.woff2') format('woff2');
}

// 代码字体
@font-face {
  font-display: swap;
  font-family: 'JetBrains';
  src: url('https://efadmin.netlify.app/font/JetBrainsMonoNL-Regular.woff2')
    format('woff2');
}

.dark {
  color-scheme: dark;
}

.dark ::selection {
  background-color: #686868;
}

html,
body,
#app {
  font-family: 'Inter', 'HarmonyOS Sans SC Medium', 'HarmonyOS Medium', 'NanumGothic',
    'NotoSansThai', system-ui, —apple-system, Segoe UI, Rototo, Helvetica, Arial,
    sans-serif !important;
  height: 100vh;
}

pre {
  font-family: 'JetBrains Mono NL', 'JetBrains', 'HarmonyOS Sans SC Medium',
    'HarmonyOS Medium', Menlo, Monaco, Consolas;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  border-width: 0px;
  @apply bg-#e6e6e6 dark:bg-#5f5f60;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-#bfbfbf dark:bg-#929293;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}

img {
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}

// element UI Message 样式变更
.el-message {
  min-width: inherit;
  padding: 12px 16px;
  z-index: 6000;
  @apply bg-#fff dark:bg-#373739;

  .el-message__icon {
    font-size: 18px;
  }

  .el-message__content {
    line-height: 18px;
  }

  &.el-message--info {
    border-color: rgba(#fff, 0.15);
  }

  &:not(.ele-message-border) {
    @apply bg-#fff dark:bg-#373739;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
    border: none;
    color: #000;
    @apply text-#000 dark:text-#fff;
    .el-message__content {
      color: inherit;
    }

    .el-icon-info {
      color: #409eff;
    }
  }

  &.ele-message-loading .el-message__icon {
    animation: rotating 1s linear infinite;

    &:before {
      content: '\e73d';
      font-family: 'ele-icon';
    }
  }
}

:root {
  --page-card-shadow: 0 4px 8px 1px #ececec;
}

:root[class='dark'] {
  --page-card-shadow: 9px 9px 18px #232324;
}
