@use 'element-plus/theme-chalk/src/dark/css-vars.scss' as *;
@use './HarmonyOS_Font.scss'; // 英文字体

.dark {
  color-scheme: dark;
}

.dark ::selection {
  background-color: #686868;
}

html,
body,
#app {
  font-family: 'Inter', 'HarmonyOS Sans SC Medium', 'HarmonyOS_Medium', 'NanumGothic',
    'NotoSansThai', system-ui, —apple-system, Segoe UI, Rototo, Helvetica, Arial,
    sans-serif !important;
  height: 100vh;
}

pre {
  font-family: 'JetBrains Mono', 'Cascadia Mono', Menlo, Monaco, Consolas,
    'HarmonyOS Sans SC Medium', 'HarmonyOS_Medium';
}

.dark {
  color-scheme: dark;
}

::selection {
  @apply bg-primary text-#fff dark:bg-#646cff;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  border-width: 0px;
  @apply bg-#e6e6e6 dark:bg-#5f5f60;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-#bfbfbf dark:bg-#929293;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}

img {
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}

.ep-message {
  min-width: inherit;
  padding: 12px 16px;
  z-index: 6000;
  @apply bg-#fff dark:bg-#373739;

  .ep-message__icon {
    font-size: 18px;
  }

  .ep-message__content {
    line-height: 18px;
  }

  &.ep-message--info {
    border-color: rgba(#fff, 0.15);
  }

  &:not(.ele-message-border) {
    @apply bg-#fff dark:bg-#373739;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
    border: none;
    color: #000;
    @apply text-#000 dark:text-#fff;
    .ep-message__content {
      color: inherit;
    }

    .el-icon-info {
      color: #409eff;
    }
  }

  &.ele-message-loading .ep-message__icon {
    animation: rotating 1s linear infinite;

    &:before {
      content: '\e73d';
      font-family: 'ele-icon';
    }
  }
}

:root {
  --page-card-shadow: 0 4px 8px 1px #ececec;
}

:root[class~='dark'] {
  --page-card-shadow: 9px 9px 18px #232324;
}
